{% extends "base.html" %}

{% block content %}
<div class="card text-center">
  <div class="card-header" style="background-color: #e3f2fd; color: 000034;">
    Classroom Details
  </div>
  <div class="card-body">
    <h5 class="card-title" style="color: 000034;">{{classroom.teacher}} {{classroom.subject}}</h5>
    <p class="card-text" style="color: 000034;">{{classroom.year}}</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">NAME</th>
          <th scope="col">DOB</th>
          <th scope="col">GENDER</th>
          <th scope="col">GRADE</th>
          {% if request.user == classroom.teacher %}
            <th scope="col">ACTIONS</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>
            <th>{{student.name}}</th>
            <td>{{student.dob}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.exam_grade}}</td>
            {% if request.user == classroom.teacher %}
              <td>
                <a href="{% url 'student-update' student.id classroom.id %}" class="btn" style="background-color: #000034; color: white;">Update Student</a>
                <a href="{% url 'student-delete' student.id classroom.id %}" class="btn" style="background-color: #FFA500; color: #000034;">Delete Student</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
    <a href="{% url 'classroom-update' classroom.id %}" class="btn" style="background-color: #000034; color: white;">Update</a>
    <a href="{% url 'classroom-delete' classroom.id %}" class="btn" style="background-color: #FFA500; color: #000034;">Delete</a>
    {% if request.user == classroom.teacher %}
      <a href="{% url 'student-create' classroom.id %}" class="btn" style="background-color: #000034; color: white;">Add Student</a>
    {% endif %}
  </div>
</div>

{% endblock content %}
